@model WebApplication3.Models.Main

@{
    ViewData["Title"] = "Create";
}

<h1>اضافة جديدة</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NameOperator" class="control-label"></label>
                <input asp-for="NameOperator" class="form-control" />
                <span asp-validation-for="NameOperator" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NameVendor" class="control-label"></label>
                <input asp-for="NameVendor" class="form-control" />
                <span asp-validation-for="NameVendor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NameProduct" class="control-label"></label>
                <input asp-for="NameProduct" class="form-control" />
                <span asp-validation-for="NameProduct" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnitPrice" class="control-label"></label>
                <input asp-for="UnitPrice" class="form-control" />
                <span asp-validation-for="UnitPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfKillos" class="control-label"></label>
                <input asp-for="NumberOfKillos" class="form-control" />
                <span asp-validation-for="NumberOfKillos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Value" class="control-label"></label>
                <input asp-for="Value" class="form-control" />
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Portion" class="control-label"></label>
                <input asp-for="Portion" class="form-control" />
                <span asp-validation-for="Portion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Remains" class="control-label"></label>
                <input asp-for="Remains" class="form-control" />
                <span asp-validation-for="Remains" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="اصافة" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a class="btn btn-primary" asp-action="Index">رجوع</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
